<!DOCTYPE html>
<head>
  <title> Justin's Blog </title>
  <link rel="stylesheet" href="assets/style.css" type="text/css" >

</head>

<body>
<div id=header>
  <a class="sitetitle menuitem" href="/">Justin's Blog</a>
  <a class="menuitem" href="/about">About me</a>
  <a class="menuitem" href="/contact">Contact me</a>
  <a class="menuitem" href="/index">Index</a>

</div>


