{{ template "header.html.tmpl" .}}
<div id=postlist>
{{range .}}
<div class=post>
  <div class="posttitle"> <a href="/post/{{.Id}}">{{.Title}}</a></div>  <div class="postdate">{{.Date.Format "Jan 02, 2006"}}</div>
  <div class="postauthor"> {{.Author}}</div>
  <div class="postpreview"> {{ printf "%.200s" .Body}}...</div>
</div>

{{end}}
</div>

{{template "footer.html.tmpl"}}
