
{{ template "header.html.tmpl" .}}
<div id="postlist">
<div class="post">
<div class="posttitle">{{.Title}}</div>
<div class="postdate">{{.Date.Format "Jan 02, 2006"}}</div>
<div class="postauthor">{{.Author}}</div>
<div class="postbody">
{{.Body}}
</div>
</div>
</div>

{{ template "footer.html.tmpl" .}}

